p {
  color: brown;
}

.center {
  text-align: center;
  font-weight: bold;
  text-decoration: overline;
  letter-spacing: 12px;
}

.right {
  text-align: right;
  text-decoration: underline;
  font-size: 10px;
}

.justify {
  text-align: justify;
  text-decoration: line-through;
  line-height: 1.8;
}

.styled {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  line-height: 1.8;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: aqua;
}

button {
  font-size: 20px;
}