body {
  height: 2500px;
}

.container {
  border: 10px solid black;
  width: 600px;
  height: 600px;
  position: relative;
}

.box {
  width: 150px;
  height: 150px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

#box1 {
  background-color: red;
  position: relative;
  z-index: 3;
}

/* #box2 {
  background-color: green;
  position: relative;
  top: 20px;
  left: 50px;
  right: 0;
  bottom: 0;
} */

#box2 {
  background-color: green;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

#box3 {
  background-color: blue;
}

#fixed {
  background-color: aqua;
  position: fixed;
  top: 0;
  right: 0;
}

#sticky {
  background-color: brown;
  position: sticky;
  top: 20px;
}
